* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1 {
    color: red;
    font-family: "Bevan", serif;
    font-weight: 10%;
    text-transform: capitalize;
    text-decoration: line-through;
}

.main {
    height: 400px;
    width: 400px;
    /* background: url(https://images.unsplash.com/photo-1720649870436-5e772e52b830?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyfHx8ZW58MHx8fHx8); */
    /* background-size: cover;
    background-position: center; */
    background-size: contain;
    background-repeat: no-repeat;
      background: linear-gradient(to right , red,green);
}

p {
    display: inline;
}